/*BELOW IS THE CARD COMPONENT STYLES*/
/*.card{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}
.card .card-image{
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}
.card .card-title{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: hsl(0, 0%, 40%);
}
.card .card-text{
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 30%);
} */

/*
--STUDENT JSX STYLES
.welcome-message {
    font-size: 2.5em;
    background-color: rgb(8, 190, 8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    width: 50%;
}
.login-prompt{
    font-size: 2.5em;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    width: 50%;
}
*/
/*
LIST COMPONENT STYLES
.list-category{
    font-size: 2.5em;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    text-align: center;
    border: 3px solid;
    border-radius: 5px;
    background-color: aqua;
}
.list-items li{
    font-size: 2em;
    list-style: none;
    color:gray;
    text-align: center;
    margin: 0;
}
.list-items li:hover{
    color: black;
    cursor: pointer;
}
*/
/* COUNTER COMPONENT STYLES
.counter-container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.count-display {
    font-size: 10em;
    margin-top: 0;
    margin-bottom: 50px;
}
.counter-button {
    width: 150px;
    height: 50px;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px 5px;
    background-color: rgb(0, 162, 255);
    border-radius: 5px;
    border: none;
    color: whitesmoke;
    cursor: pointer;
}

.counter-button:hover{
  background-color: rgb(0, 130, 255); ;
} */

/*COLOR PICKER COMPONENT STYLES*/
/* body{
    font-family: Arial, Helvetica, sans-serif;
}
.color-picker-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin: 50px;
    font-size: 3rem;
}
.color-display{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid hsl(0, 0%, 80%);
    border-radius: 25px;
    margin-bottom: 25px;
    transition: 0.25s ease;
}
.color-display p{
    color: hsl(0, 0%, 20%);
    font-size: 2rem;
    text-align: center;
}
label{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
input[type="color"]{
    width: 75px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid hsl(0, 05, 80%);
} */